.custom-container {
    padding: 0;
}

.event-description {
    height: 300px;
    word-wrap: break-word;
    overflow-y: scroll;
}

/*.event-description::-webkit-scrollbar {*/
/*    width: 1em;*/
/*}*/

.event-description::-webkit-scrollbar {
    width: 6px;
	background-color: #F5F5F5;
}

.event-description::-webkit-scrollbar {
    background-color: #f7631b;
    outline: 1px solid #333333;
    height: 10px;
}

.event-description::-webkit-scrollbar-thumb
{
	background-color: #f7631b;
}

.event-description::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.event-key {
    font-weight: bold;
    color: black;
}

.event-value {
    color: black;
}

.club_members, .club_likes {
    color: #fff;
    background: #f7631b;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
}

.club-item {
    border: 1px solid #eee;
    padding: 5px;
}

.custom-meta {
    padding: 0;
}

.action-btn {
    border-radius: 5px;
    text-align: center;
    border: 1px solid #f7631b;
    line-height: 21px;
    color: #f7631b;
    background: #fff;
}

.action-btn:hover {
    background: #f7631b;
    border: 1px solid #f7631b;
    color: #fff;
}

.info-btn {
    border-radius: 5px;
    text-align: center;
    border: 1px solid #0c4bee;
    background: #fff;
    line-height: 21px;
    color: #0c4bee
}

.info-btn:hover {
    background: #0c4bee;
    border: 1px solid #0c4bee;
    color: #fff;
}

.y-border-eee {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}


/*CLUB-DETAIL*/
.club-detail-img {
    border: 1px solid #eee;
}

.event-card {
    border: 1px solid #eee;
    padding: 5px;
}

.event-img img {
    width: 100%;
    height: 200px;
}

.event-title {
    height: 80px;
}

.event-startdatetime {
    display: block;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.event-passed {
    color: red;
}

.event-not-passed {
    color: green;
}

.custom-search-input {
    color: #000;
    padding: 5px 22px;
    font-size: 14px;
    border: 1px solid #f7631b;
    float: left;
    width: 80%;
    background: #fff;
}

.custom-search-button {
    float: left;
    width: 15%;
    padding: 5px 0px;
    background: #f7631b;
    color: #fff;
    font-size: 17px;
    border: 1px solid #f7631b;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filter-option {
    padding-left: 20px;
    word-wrap: break-word;
}

.club-description {
    height: 200px;
    word-wrap: break-word;
    overflow-y: scroll;
}

/*.event-description::-webkit-scrollbar {*/
/*    width: 1em;*/
/*}*/

.club-description::-webkit-scrollbar {
    width: 6px;
	background-color: #F5F5F5;
}

.club-description::-webkit-scrollbar {
    background-color: #f7631b;
    outline: 1px solid #333333;
    height: 10px;
}

.club-description::-webkit-scrollbar-thumb
{
	background-color: #f7631b;
}

.club-description::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.club-list {
    row-gap: 30px;
    margin: 30px 0 10px 0;
}

.bg-none {
    background: none;
}

.your-future-txt {
    color: #f7631b;
    font-size: 40px;
}

.service-description {
    max-height: 150px;
    word-wrap: break-word;
    overflow: auto;
}

.club-likes, .club-members {
    color: #f7631b;
}

.form-card {
    border: 1px solid #eee;
    padding: 25px;
    bottom: 45%;
    left: 40%;
    z-index: 1000;
    background: #fff;
    border-radius: 15px;
    display: none;
}

.profile-partial {
    border: 1px solid #e3d8d8;
    background: #eaf7ff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.profile-partial:focus-visible {
    outline: blue;
}

.my-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.my-form-section {
    border: 1px solid #eee;
    margin: 30px 0;
    -webkit-box-shadow: 0px -1px 29px 7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -1px 29px 7px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -1px 29px 7px rgba(34, 60, 80, 0.2);
}

.errorlist li {
    color: red;
}

.without-bg {
    background: none;
    border: none;
    cursor: pointer;
}

.search-field {
    padding-left: 5px;
    background: #f7631b;
    color:#fff;
    border: 1px solid #f7631b;
}

.search-field:focus {
    outline: none;
}
